body {
  background-color: rgb(225, 235, 235);
  font-family: "Lato", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Component {
  display: inline-block;
  margin: 10px;
  border: #ccc;

  width: 200px;
  padding: 2px;
}
.container {
  width: auto;
  border: 1px solid rgb(5, 5, 5);
  border-radius: 15px;
  margin: 20px;
  background-color: white;
  box-shadow: 5px 5px 2px grey;
}

.main {
  width: auto;
  border: 1px solid rgb(5, 5, 5);
  padding: 10px;
  background-color: rgb(225, 235, 235);
  border-radius: 15px;
}

.box {
  width: auto;
  border: 1px solid rgb(5, 5, 5);
  padding: 20px;
  box-shadow: 3px 3px 2px grey;
  border-radius: 15px;
  margin: 20px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 0%;

  height: auto;
}

.sideLayout {
  width: 25%;
  float: left;
}
.middle {
  width: 50%;
}

.rightblog {
  width: 7%;
  float: right;
}
.leftblog {
  width: 90%;
}

.center {
  margin: auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.959);
  padding: 10px;
  border-radius: 10px;
}

p.thick {
  font-weight: 400;
  size: 45px;
}
